<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poll</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
    <p th:text="${poll.title}" ></p>
    <table border="1">
        <tr>
            <th>option</th>
            <th>times</th>
        </tr>
        <tr  th:each="vote : ${poll.votes}">
            <td th:text="${vote.name}">name</td>
            <td th:text="${vote.count}">count</td>
        </tr>
    </table>
</body>
</html>